---
apiVersion: v1
kind: ConfigMap
metadata:
  name: komga-configmap
  namespace: komga
data:
  TZ: "Europe/Paris" # <-- Add your own TZ
  JAVA_TOOL_OPTIONS: "-Xmx4g" # <-- Adjust this if you want to allocate more or less memory to the Komga server.
